body {
	margin: 0;
	padding: 0;
}
.container {
	width: 100vw;
}
.header {
	width: inherit;
	background-color: black;
	display: flex;
	justify-content: center;
	color: white;
}
.header-left {
	width: 48%;
	display: flex;
	justify-content: flex-start;
	flex-wrap:wrap;
}
.header-left p {
	margin:0px;
	font-size: 10px;
}
.header .fa {
	color: white;
}
.menu-div {
	display: flex;
	align-items: center;
	margin: 0px 2%;
}
/*p {
	display: inline-block;
	color: white;
}*/

.header-right {
	width: 48%;
	display: flex;
	justify-content: flex-end;
}

.middle-container {
	width: 100vw;
}
.fon-img {
	width: 100%;
	height: 71vh;
	display: flex;
	justify-content: center;
	background: url(images/fon.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
.transparent-bckg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.transparent-bckg div {
	width: 100%;
    text-align: center;
    color: white;
    font-size: 10px;
}
.info-container {
	width: inherit;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	text-align: center;
	flex-wrap: wrap;
}
.info-container>div {
	margin-top: -35px;
	margin-bottom: 35px;
	width: 30%;
	min-width: 200px;
}
.round a {
	width: 70px;
	height: 70px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration-line: none;
	background-color: blue;
	color: white;
	font-size: 35px;
	margin: 0 auto;
}
h4 {
	color: black;
}

.second-page {
	background-color: #eae8e2;
	width: 100vw;
	display: inline-flex;
	justify-content: flex-start;
}

.second-left {
	width: 50vw;
	padding: 5%;
}
.second-left h3 {
	text-align: center;
}
.second-left p {
	color: #68aabd;
}

.second-right {
	width: 50vw;
	display: inline-flex;
	justify-content: center;
	position: relative;
}

.img1 {
    width: 60%;
    z-index: 1;
    left: 5%;
    top: 15%;
    position: absolute;
    height: 40%;
}
.img2 {
	width: 55%;
	z-index: 2;
	left: 25%;
	top: 25%;
	position: absolute;
	height: 40%;
}

.third-page {
	width: 100vw;
}

.third-top {
	width: inherit;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.third-top h2, p {
	text-align: center;
}
.third-bottom {
	width: inherit;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-around;

}
.chart {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40vw;
	border: 1px solid grey;
	margin: 1%;
	min-width: 300px;
}
.chart img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 2px solid orange;
	margin-left: 2%;
}
.chart h3 {
	color: orange;
	margin: 1% auto;
}
.chart p {
	color: #68aabd;
	margin: 0 2%;
}
.fourth-page {
	width: 100vw;
}
.fourth-top {
	width: inherit;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.fourth-top p {
	color: black;
}
.fourth-bottom {
	width: inherit;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	height: 77vh;
	border: 1px solid grey;
	min-width: 300px;
    margin: 1%;
}
	
}
.column img {
	width: 60px;
	height: 60px;
	border-radius: 150px;
}
.column-img {

	border-radius: 150px;
}
.column p {
	text-align: center;
}

.last-page {
	width: 100vw;
 }
 .last-head {
 	width: inherit;
 	background: url(images/fon2.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    display: block;
 }
 .transparent-bckg1 {
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
}
.transparent-bckg1 .last-main {
	display: flex;
	justify-content: center;
}
.last-head1 {
	width: inherit;
}
.last-head1 h1, .last-head1 p {
    text-align: center;
    color: white;
}
.last-head2 {
	width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-main {
    width: 50vw;
    padding: 20px;
    background-color: white;
    margin: 5%;
}

input[type=text],
input[type=email],
.last-main textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.name-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-form div {
    width: 45%;
}

.message-form {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-form {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    width: 120px;
    height: 30px;
    background-color: #009af9;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}
.footer {
	width: inherit;
	background-color: #CCC;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}
.footer div {
	width: inherit;
	text-align: center;
}
.footer>p {
	color: black;
}
@media screen and (max-width: 500px) {
	.second-right {
		display: none;
		width: 100%;
	}
	.second-left {
		width: 100%;
	}
	.second-left p {
    text-align: center;
	margin: unset;
	}
	.last-main {
		width: 100vw;
	}
}