body {
    margin: 0;
    background-color: lightgoldenrodyellow
}
.head {
    width: 100vw;
    height: 5%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
}
.form {
    width: 35%;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
    margin: 0 auto;
    margin-top: 10%;
}
.button {
    margin-top: 10%;
    margin-right: -60%;
    margin-bottom: 5%;
    font-size: 30px;
    border-radius: 10px;
    background-color: green;
    color: white;
}
.input {
    padding: 0 10% 2% 3%;
}
.form p{   
    padding-right: 35%;
    font-size: 20px;
}
.gender {
    padding-right: 25%;
}


/*
.second-page {
    width: 40%;
    margin: 0 auto;
}
.input {
    padding: 6%;
    margin-top: 5%;
} 
#button {
    background-color: lightgreen;
    border-radius: 15px;
}*/

.foot {
    width: 100%;
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-top: 35%;
}