body {
    margin: 0;
}

.main {
    background-image: url(fon.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.opacity {
    background-color: rgba(3, 255, 255, 0.5);
}

.top-content {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*---------------------------*/
.cv-images {
    float: left;
    height: 100%;
    width: 50%;
}

.img1, .img2, .img3, .img4 {
    width: 11vw;
    height: 30vh;
    position: absolute;
}

.img1 {
    left: 10vmin;
    top: 30vmin;
}

.img2 {
    left: 30vmin;
    top: 35vmin;
}

.img3 {
    left: 22vmin;
    top: 15vmin;
}

.img4 {
    left: 40vmin;
    top: 25vmin;
}

/*---------------------------*/
.cv-text {
    float: right;
    height: 100%;
    width: 50%;
    color: white;
}

.cv-text p {
    width: 100%;
    height: 50%;
    margin-top: 20%;
    font-size: 3vh;
}

/*---------------------------*/
.cv-button {
    position: relative;
    background-color: #00cf0a;
    color: white;
    height: 10vh;
    width: 10vw;
    font-size: 1vw;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid lightgreen;
    border-radius: 10px;
    margin-left: 50%;
}

.cv-button:hover {
    background-color: #00da0b;
}

.cv-button:focus {
    outline: none;
    box-shadow: 0px 0px 3px rgb(81, 255, 0);
    border: 1px solid rgb(30, 255, 0);
}

/*---------------------------*/
.bottom-content {
    height: 100vh;
}

.part1 {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 34%;
    background: gainsboro;
}

.circle1 {
    display: inline;
    position: absolute;
    width: 10%;
    height: 60%;
    left: 20%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid blue;
    background: white;
}

.circle1 p {
    margin: 20%;
    font-size: 40px;
    color: blue;
}

.circle1-text {
    position: absolute;
    left: 22%;
    top: 70%;
    color: blue;
}

.circle2 {
    position: absolute;
    width: 10%;
    height: 60%;
    left: 43%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid blue;
    background: white;
}

.circle2 p {
    margin: 20%;
    font-size: 40px;
    color: blue;
}

.circle2-text {
    position: absolute;
    left: 44%;
    top: 70%;
    color: blue;
}

.circle3 {
    position: absolute;
    width: 10%;
    height: 60%;
    left: 67%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid blue;
    background: white;
}

.circle3 p {
    margin: 20%;
    font-size: 40px;
    color: blue;
}


.circle3-text {
    position: absolute;
    left: 68%;
    top: 70%;
    color: blue;
}
/*----------------------------*/
.part2 {
    position: absolute;
    top: 134%;
    width: 100%;
    height: 66%;
    background: white;
}

p {
    width: 12px;
}

.photos1 {
    position: absolute;
    width: 100%;
    height: 33%;
    //background: rebeccapurple
}

.photo1 {
    display: inline;
    position: absolute;
    width: 10%;
    height: 100%;
    left: 10%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid orange;
    background: white;
}

.photo2 {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 33%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid orange;
    background: white;
}

.photo3 {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 57%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid orange;
    background: white;
}

.photo4 {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 77%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid orange;
    background: white;
}
.photos2 {
    position: absolute;
    top: 33%;
    width: 100%;
    height: 33%;
    //background: blue;
}

.photo5 {
    display: inline;
    position: absolute;
    width: 10%;
    height: 100%;
    left: 20%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid orange;
    background: white;
}

.photo6 {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 43%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid orange;
    background: white;
}

.photo7 {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 67%;
    top: 15%;
    border-radius: 100px;
    border: 2px solid orange;
    background: white;
}


